<form method="post" action="{{ path('app_licence_delete', {'id': licence.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ licence.id) }}">
    <button class="btn">Delete</button>
</form>
